.contact-number{
  display: flex;
  position: relative;
  top:80px; 
  &__left{
    display: flex;
    flex-basis: 100px;
  }
  &__right{
    color:$lightGray;
    position: relative;
    top:-1px;
    width: calc(100% - 100px)
  }
  &__text{
    color:$lightGray;
    display: flex;
    margin-bottom: 15px;  
  }
  &--location{
    flex-basis: 90px;
    font-weight: 700;
  }
  &--tel{
    text-decoration: underline;
  }
  &--green{
    margin-left: 10px;
    color:$green;
    font-weight: 700;
    position: relative;
    top:-1px
  }
}