.contact-info{
  display: flex;
  width: 75%;
  margin: 55px auto 55px auto;
  flex-direction: column;
  position: relative;
  @include max-width-960 { 
     width: 100%;
   }
    @include max-width-660 {
    margin: auto;
  }
  &__wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
     @include max-width-660 {  
    flex-direction: column;
    }
  }
    &__header{
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 8px;
    border-bottom:1px solid $green;
     @include max-width-660 {  
      padding: 0;
      padding: 0  15px 20px 15px;
    }
    &__wrapper{
      width: calc(100% - 180px);
      padding: 0 0 0 60px;
      position: relative;
      margin-top: 40px;
      margin-right: -160px;
       @include max-width-660 {  
        width:calc(100% + 30px);
        margin-right: 0;
        padding:0;
        margin: 20px -15px 0 -15px;
      }
    }
  }
  &__body{
    margin-top: 70px;
    margin-left: 270px;
     @include max-width-660 {  
     margin: 20px 30px 0 30px;
     padding-top: 20px;
     border-top:1px solid $lightGray;
    }
  }
  &__layout{
    margin-top:20px;
    margin-left: 230px;
    @include max-width-660 { 
      margin: 10px 0 0 0;
      border-top: none;
    }
  }
  &--label,
  &--icons{
    display: flex;
    justify-content: center;
    align-items: center;
    } 
  &__title{
    color:$lightGray;
    font-size: 1.75em;
    font-weight:700;
    @include max-width-660 {
      display: none;
    }
  }
  &__icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    &-text{
      margin-right: 10px;
      font-size: 0.875em;
      color:$lightGray

    }
  }
  &__icon:first-child{
    margin-right: 20px;
  }
  &__icon:last-child{
    margin-right: 0px;
  }
}