.contact-email{
  display: flex;
  align-items: center;
  position: relative;
   @include max-width-660 {
    align-items: flex-start;
    flex-direction: column;
  }
  &__icon{
    display: flex;
    align-items: center;
    flex-basis: 100px;
     @include max-width-660 {
      flex-basis: auto;
      margin-bottom: 15px;
    }
  }
  &__label{
    color:$lightGray;
    position: relative;
    top:-1px
  }
  &--green{
    margin-left: 10px;
    color:$green;
    font-weight: 700;
    position: relative;
    top:-1px
  }
}