.contact-card{
  &__header{
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width:660px){
      width: 85px;
      order:2;
    }
  }
  &__icon{
    cursor: pointer;
    @media screen and (max-width:660px){
      margin-right: 10px
    }
  }
  &--show-on-hover{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    @media screen and (max-width:660px){
      opacity: 1;
    }
  }
  &--show-on-hover &__icon:first-child{
    margin-right: 20px;
    @media screen and (max-width:660px){
      margin-right: 7px
    }
  }
 &__icon:last-child{

    @media screen and (max-width:660px){
      margin-right: 0px
    }
  }
}