.contact-card{
  &__title{
    color:$lightGray;
    font-size: 1.25em;
    font-weight: bold;
    margin: 5px 0;
    @include max-width-660 {
      font-size: 0.875em;
      overflow: hidden;
      white-space: pre;
      max-width: 135px;
    }
  }
}