.contact-card{
  &__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include max-width-660 {
      width: 85px;
      order:2;
      justify-content: flex-end;
    }
  }
  &__icon{
    cursor: pointer;
   @include max-width-660 {
      margin-right: 7px
    }
  }
  &--show-on-hover{
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

   @include max-width-660 {
      opacity: 1;
    }
  }
  &--show-on-hover &__icon:first-child{
    margin-right: 20px;
   @include max-width-660 {
      margin-right: 7px
    }
  }
 &__icon:last-child{

   @include max-width-660 {
      margin-right: 0px
    }
  }
}