.contact-card{
  &__item{
    min-height: 152px;
     @include max-width-660 {
     min-height: auto; 
    }
    &--new{
      border: 1px dashed $lightGreen;
       @include max-width-660 {
        &.contact-card__item{
          justify-content: flex-start;
        }
      }
    }
  }
  &--new-title{
    color:$lightGreen;
    margin-top:20px;

     @include max-width-660 {
      margin:0 0 0 15px;
    }
  }
}