*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.container{
  max-width: 1280px;
  padding:0 40px;
  margin:0 auto;
  @media screen   and (max-width:660px){
    padding:0 15px;
  }
}
a{
  text-decoration: none;
}


/* .test{
 width: 100%; height: 100vh; background-image: url('./test.png')
} */