.contact{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  @media screen and (max-width:1180px){
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width:420px){
    width: 100%;
  }
  & input:first-child{
     width: 300px;
     margin-right:15px;
    @media screen and (max-width:1180px){
     margin-bottom: 20px;
    }
    @media screen and (max-width:420px){
      width: 100%;
    }
  }
  & input:nth-child(2){ 
    width: 220px;
    margin-right: 40px;
    @media screen and (max-width:1180px){
      width: 250px;
    }
  }
  &--delete{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid $formColor;
    position: absolute;
    right: 0;
    @media screen and (max-width:1180px){
      bottom: 0;
      margin-bottom: 15px;
    }
    cursor: pointer;
    &::after{
      content:'';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: $formColor;
      transform: rotate(45deg);
      top:50%;
      margin-top: -5px;
      left: 50%;
      margin-left: -1px;

    }
    &::before{
      content:'';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: $formColor;
      transform: rotate(-45deg);
      top:50%;
      margin-top: -5px;
      left: 50%;
      margin-left: -1px;

    }
  }
  &--add{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid $green;
    position: relative;

    @media screen and (max-width:1180px){
      bottom: 0;
    }
    cursor: pointer;
    &::after{
      content:'';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: $green;
      top:50%;
      margin-top: -5px;
      left: 50%;
      margin-left: -1px;

    }
    &::before{
      content:'';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: $green;
      transform: rotate(90deg);
      top:50%;
      margin-top: -5px;
      left: 50%;
      margin-left: -1px;

    }
    &-new{
      margin-top:30px;
      cursor:pointer;
      display: flex;
      align-items: center;
    }
    &__text{
      color:$green;
      margin-left:10px;
      font-weight: 300;
    }
  }
 
}