.input{
  width: 100%;
  max-width: 300px;
  font-size: .875em;
  padding:20px 30px;
  border-radius: 4px;
  color:$formColor;
  border:1px solid $formColor;
  &::-webkit-input-placeholder { 
    color: $formColor;
  }
  &[type="file"]{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    opacity: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  &-error{
    color:red;
    text-align: left;
    font-size: 0.75em;
    height: 10px;
  }
}