.input{
  max-width: 300px;
  font-size: .875em;
  padding:20px 30px;
  border-radius: 4px;
  color:$formColor;
  border:1px solid $formColor;
  &::-webkit-input-placeholder { 
    color: $formColor;
  }
}